

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212; /* fundo escuro */
  color: #ffffff;
  padding: 1rem;
}

.form {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 360px;
}



.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #f0f0f0;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #ccc;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #00bcd4;
  outline: none;
}

.click{
  font-size: 20px;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #00bcd4;
  color: #121212;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0097a7;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

